.homeContainer {
    width: 100vw;
    margin-top: 76px;
    margin-bottom: 100px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #878A8B;
}

.homeInnerContainer {
    display: flex;
    justify-content: center;
}

.homeSidebar {
    flex: 1;
}

.homeAnnouncement {
    flex: 2;
}