.footerContainer {
    bottom: 0;
}

.topFooterContainer {
    background-color: #2b3135;
    height: 236px;
    display: flex;
}

.bottomFooterHeader {
    background-color: #32393d;
    min-height: 70px;
    width: 100vw;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #abb2b9;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

.leftFooterContainer {
    padding-top: 48px;
    padding-left: 150px;
    text-align: left;
    font-size: 16px;
    flex: 1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rightFooterContainer {
    padding-right: 150px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topHeader {
    margin-bottom: 12px;
    color: #9099a2;
    font-size: 14px;
}

.logoImage {
    height: 110px;
    width: 110px;
    margin-right: 24px;
    opacity: 0.2;
    filter: grayscale(1);
}

.footerText {
    color: #677079;
    font-size: 14px;
}

.alohaLink {
    color: #9099a2;
    font-weight: 900;
    background-color: #32393d;
    border-radius: 20px;
    padding: 5px 16px;
    margin-left: 8px;
}