.backgroundImage {
    width: 100vw;
    height: 380px;
    opacity: 0.5;
}

.imageContainer {
    height: 380px;
    width: 100vw;
    background-image: linear-gradient(0deg, hsla(209, 23%, 60%, .5), hsla(209, 23%, 60%, .5)), url('../assets/aloha_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heroBannerContainer {
    top: 0;
}

.heroBannerLogoImage {
    height: 281px;
    width: 281px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
    font-size: 17px;
    font-weight: bold;
    z-index: 100;
    position: relative;
}

.discordButton {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    margin-left: 72px;
    text-align: left;
}

.discordIcon {
    height: 40px;
    width: 50px;
    margin-right: 12px;
}

.serverButton {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 72px;
    text-align: right;
}

.gamingIcon {
    height: 40px;
    width: 50px;
    margin-left: 12px;
}

.bannerText {
    color: #f0f4f8;
    opacity: 0.6;
    font-size: 14px;
}

.curve {
    position: relative;
    fill: #242A2E;
    width: 100vw;
    top: -30px;
}

.bannerHeader {
    font-size: 16px;
    font-weight: 900;
}

@media only screen and (min-width: 992px) {
    .curve {
        top: -40px;
    }

    .logoContainer {
        margin-top: 52px;
    }
}