.sidebarContainer {
    text-align: left;
    background-color: #2B3235;
    border-radius: 20px;
    padding: 20px 20px;
    margin-right: 24px;
    max-height: 170px;
    margin-left: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.socialContainer {
    display: flex;
    align-items: center;
}

.socialIcons {
    margin-right: 8px;
    padding-top: 8px;
}

.socialHeaders {
    margin-right: 8px;
    font-weight: bold;
    color: #AEB5BB;
}

.socialLinks {
    color: #AEB5BB;
    text-decoration: none;
    cursor: pointer;
}

.socialLinks :hover{
    text-decoration: none;
}

.recentAnnouncements {
    text-align: left;
    background-color: #2B3235;
    margin-top: 24px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 24px;
    margin-left: 24px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.recentHeader {
    font-size: 30px;
    font-weight: bold;
    color: #AEB5BB;
}

.allAnnouncements {
    font-weight: bold;
    font-size: 22px;
    color: #abb2b9;
}